
body {
    margin-left:10%;
    margin-right:10%;
}
div.deuxcols {
    border:1px solid black;
    text-align:center;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
nav ul {
    display: flex;
    justify-content: space-around;
    background: lightgrey;
}
